@import "../../../variables";

.list {
    padding: 23px 19px;
    border: 1px solid $grey;
    border-radius: 0 0 8px 8px;
    background-color: $dark-grey;
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
}

.item {
    font-size: 1rem;
    color: $white;
    font-weight: 500;
    line-height: 20px;
    padding: 10px;

    &:hover {
        background-color: $grey;
    }
}