@import "../../variables";

.btn {
   font-size: 1rem;
   padding: 0.78em 1.33em;

   @media (max-width: 1505px) {
      font-size: 0.875rem;
   }

   @media (max-width: 1285px) {
      font-size: 1rem;
   }
}