


.container {
    display: grid;
    grid-template-columns: repeat(3, 512.33px);
    grid-template-rows: repeat(2, 329px);
    gap: 50px 30px;

    @media (max-width: 1505px) {
        grid-template-columns: repeat(3,minmax(auto, 413px));
        grid-template-rows: repeat(2, 274px);
        gap: 40px 20px
    }

    @media (max-width: 1285px) {
        grid-template-rows: repeat(2, 240px);
        gap: 35px 15px;
    }

    @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}