@import 'variables';

*,
*::after,
*::before {
   box-sizing: border-box;
}

html {
   font-size: 18px;

   @media (max-width: 1505px) {
      font-size: 16px;
   }

   @media (max-width: 1285px) {
      font-size: 14px;
   }
}

body {
   font-family: 'Urbanist';
   background-color: $dark-grey;
   font-weight: 500;
   color: $white;
   line-height: 150%;
   letter-spacing: 0;
}