@import "../../../variables";


.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 80px;


   @media (max-width: 960px) {
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      gap: 0;
   }
}


.list {
   flex: 0 1 999px;
   display: grid;
   grid-template-columns: repeat(2, minmax(330px,409px));
   gap: 60px;
   border: 1px solid #222222;
   border-radius: 12px;
   box-shadow: 0px 0px 0px 10px #191919 ;
   padding: 60px;

   @media (max-width: 1505px) {
      flex-basis: 807px;
      grid-template-columns: repeat(2, minmax(260px,329.5px));
      gap: 48px;
      padding: 50px;
   }

   @media (max-width: 960px) {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
   }
}