@import "../../variables";

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, minmax(auto, 512px));
   gap: 30px;
   padding-bottom: 50px;

   @media (max-width: 1505px) {
      gap: 20px;
      grid-template-columns: repeat(3, minmax(auto, 413.33px));
   }

   @media (max-width: 1087px) {
      grid-template-columns: repeat(2, minmax(auto, 1fr));
   }

   @media (max-width: 740px) {
      grid-template-columns: 1fr;
   }
}


.two_slides {
   grid-template-columns: repeat(2, minmax(630px, 783.5px));

   @media (max-width: 1505px) {
      grid-template-columns: repeat(2, minmax(357px, 630px));
   }

   @media (max-width: 1087px) {
      grid-template-columns: repeat(2, minmax(auto, 1fr));
   }

   @media (max-width: 740px) {
      grid-template-columns: 1fr;
   }
}