@import "../../variables";

.footer {
   display: flex;
   border-top: 1px solid $grey;
   padding-top: 20px;
   justify-content: space-between;


}

.titleless {
   justify-content: end;



   .btns_container {
      @media (max-width: 530px) {
         justify-content: space-between;
         gap: 0;
         width: 100%;
      }

   }
}

.btns_container {
   display: flex;
   gap: 10px;
   align-items: center;



}