@import "../../variables";

.section {
    background-color: $dark-grey;

}

.container {
    max-width: 1636px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 140px 20px;

    @media (max-width: 1505px) {
        max-width: 1307px;
        padding: 0 14px 120px 14px;
    }

    @media (max-width: 1285px) {
        padding-bottom: 80px;
    }

}