@import "../../../variables";

.container {
    display: flex;
    gap: 30px;

    @media (max-width: 1505px) {
        gap: 20px;
    }

    @media (max-width: 960px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
    }
}